body {
    font-family: 'Anton', sans-serif;
    background: black;
}

.characters-gohere {
    float: left;
    padding: 5px;
}

button {
    display: inline-block;
    justify-content: baseline;
    font-family: 'Anton', sans-serif;
    font-size: 20px;
    padding: 20px;
    margin: 10px;
    color: white;
    background: black;
    border: 2px solid white;
    border-radius: 10px;
}

.icon{
    position:absolute;
    left:18px;
    top:9px;
    font-size:30px;
    color: white
  }

form, input {
    margin: 1.5em;
    font-family: 'Anton', sans-serif;
    font-size: 20px;
}

p, label {
    color: white;
    padding: 5px;
    border-radius: 10px;
    border: 2px solid white;;
}

.character-img {
    border-radius: 10px;
    border: .5px solid whitesmoke;;
}